.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: fffff;
    font-family: Arial, Helvetica, sans-serif;

}
.LisaCabrera {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.picture {
    display: flex;
    justify-content: center;
}
#nature {
    height: 300px;
    width: 300px;
}

.container {
    margin-left: 50px;
    margin-top: auto;
    margin-right: 100px;
}



body {
background-image: url("../images/checkerboard-cross.png");

}
.footer {
 background-color:#666666;
 margin-top: 50px;
 margin-bottom: 1px;
 display: flex;
 align-content: flex-end;


}